.user-code { /* set font-size via JS for using up/down font buttons */
    display: block;
    height: 100%;
    overflow: auto;
    position: relative;
    width: 100%;
}
.user-code * {
    font-family: var(--editor-font-family) !important;
}