.simple-option {
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 22px;
    justify-content: flex-start;
    padding: 0 5px;
    position: relative;
}
.font-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: var(--arrow-font-size);
    font-weight: 800;
    height: 10px; /* scaleable */
    line-height: 10px;
    padding-left: 5px;
    position: relative;
    outline: none;
    top: -2px;
    transform: scaleX(2) rotate(90deg);
    user-select: none;
    width: 22px;
}

.simple-option_label {
    color: black;
    cursor: default;
    font-size: 17px;
    font-weight: 800;
    height: 22px;
    line-height: 20px;
    margin-right: 10px;
    order: -1;
    padding-left: 3px;
    text-align: center;
    user-select: none;
    width: auto;
}
.simple-option_label--checkbox {
    border: 1px solid black;
    display: block;
    height: 16px;
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    top: 0;
    width: 16px;
}
.simple-option_label--checkbox::after {
    background-color: transparent;
    content: '';
    display: block;
    height: calc(100% - 4px);
    left: 2px;
    position: absolute;
    top: 2px;
    transition: background-color 0.5s ease;
    width: calc(100% - 4px);
}
.simple-option_checkbox-input:checked ~ .simple-option_label--checkbox::after {
    background-color: black;
    
}
.font-button:focus {
    border-right: 1px solid black;
}
.font-button:focus ~ .font-text {
    border-bottom: 2px solid black; /* x2 scale of font-button */
}
.font-button:hover,
.font-button:hover ~ .font-text {
    color: rgb(0, 191, 255);
    border-color: rgb(0, 191, 255);
}

.list {
    color: black;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    padding: 0 5px;
    position: relative;
    width: 150px;
    z-index: 2;
}
.list:focus-within .list_expand-label {
    border-right: 1px solid black;
}
.list_clicker {
    background: transparent;
    cursor: pointer;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.list_placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 17px;
    font-weight: 800;
    height: 100%;
    left: 5px;
    line-height: 21px;
    overflow: hidden;
    padding-left: 5px;
    padding-right: 20px;
    position: absolute;
    text-overflow: ellipsis;
    top: 0px;
    white-space: nowrap;
    width: calc(100% - 20px); /* parent width - parent paddings */
}
.list_expand-label {
    cursor: pointer;
    font-size: var(--arrow-font-size);
    font-weight: 800;
    height: 10px; /* scaleable */
    line-height: 10px;
    padding-left: 10px;
    position: absolute;
    right: 5px; /* right parent padding + 2px self */
    top: 3px;
    transform: scaleX(2) rotateZ(90deg);
    user-select: none;
    width: 22px;
    z-index: 1;
}
.list_items {
    background: transparent;
    list-style-type: none;
    max-height: 200px;
    min-height: 20px;
    padding-top: 20px;
    overflow-y: auto;
    width: calc(100% - 10px);
}
.list_input {
    display: inline-block !important;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
}
.list_label {
    background: white;
    cursor: pointer;
    display: block;
    font-size: 17px;
    font-weight: 800;
    height: 0;
    line-height: 18px;
    overflow: hidden;
    padding: 0 15px 0 5px;
    position: relative;
    text-overflow: ellipsis;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0.25, 0.3, 1);
    transition-property: height, margin;
    white-space: nowrap;
    width: 100%;
}
.list_label:hover,
.list_clicker:hover ~ .list_items .list_input:checked + .list_label,
.list_clicker:hover ~ .list_expand-label {
    color: rgb(0, 191, 255);
}
.list_expand-flag:checked ~ .list_items {
    padding-top: 0;
    margin-top: 25px;
}
.list_expand-flag:checked ~ .list_items .list_label {
    height: 24px;
    line-height: 24px;
}
.list_expand-flag:checked ~ .list_placeholder {
    border-bottom: 2px solid black;
}
.list_expand-flag:checked ~ .list_expand-label { /* on expand - hide immediately */
    opacity: 0;
    transition: opacity 0ms linear 0ms;
}
.list_expand-flag:not(:checked) ~ .list_expand-label { /* on unexpand - show with delay */
    opacity: 1;
    transition: opacity 250ms linear 250ms;
}
.list_input:checked + .list_label {
    height: 20px;
    line-height: 21px;
    margin-top: -21px;
}